body{
    font-family: $font-open-sans;
}

a{
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
    &:focus{
        text-decoration: none;
    }
}
ul{
    margin: 0;
    padding: 0;
}

// duyệt từng element trong heading sau đó xuất từng phần tử cho định dạng đó.
@each $element in $heading {
    #{$element}{
        margin: 0;
        padding: 0; 
    }
}

// Reset Breadcrumb
.breadcrumb {
    padding: 0;
    margin-bottom: 0;
}