$font-open-sans: 'Open Sans', sans-serif;
// =================== COLORS ===================
$color-white: #ffffff;
$header-color-button: #62a29e;
$header-colorShadow-button: #528b86;

// =================== LIST ===================
$heading: h1,h2,h3,h4,h5,h6;
// =================== HEADER ===================
$header-color-background: #76c7c0;

// =================== BREADCRUMP ===================
$breadcrump-color-background: #F3F3F3;
$breadcrump-color-text: #62A09D;

// =================== WIDGETS ===================
$widget-margin-bottom: 40px;
// =================== URL ===================
$url-images: '../images/';