// ============================= BORDER RADIUS =============================
@mixin setBorderRadius($value) {
    border-radius: $value;
    -moz-border-radius: $value;
    -webkit-border-radius: $value;
    -o-border-radius: $value;
}

// ============================= BOX SHADOW =============================
//https://www.cssmatic.com/box-shadow

@mixin setBoxShadowBottom($size, $color) {
    -webkit-box-shadow: inset 0px $size 0px 0px $color;
    -moz-box-shadow: inset 0px $size 0px 0px $color;
    -o-box-shadow: inset 0px $size 0px 0px $color;
    box-shadow: inset 0px $size 0px 0px $color;
}

// ============================= SET FONT ==================================
@mixin setFont ($fontSize, $color, $fontWeight: null, $fontFamily: null){
    color: $color;
    font-size: $fontSize;

    // Kiểm tra xem có kế thừa khong, font-family có kế thừa reset
    @if $fontWeight !=null {
        font-weight: $fontWeight;
    }

    @if $fontFamily !=null {
        font-family: $fontFamily
    }
}
    
// ============================= HOVER A ==================================
@mixin setTagAHover($color, $colorHover) {
    a{
        color: $color;
        &:hover{
            color: $colorHover;
        }
    }
}
// ============================= CLEARFIX ==================================
@mixin clearfix {
    &:after{
        content: "";
        display: table;
        clear: both;
    }
}
// ============================= SET COLUMN ==================================
@mixin setColumn($pColumn, $pColumnMargin) {
    width: (100% - ($pColumn - 1) * $pColumnMargin) / $pColumn;
    margin-right: $pColumnMargin;

    &:nth-child(#{$pColumn}n){ // ở đây ta có cac phan tử $pColumn: 2, phần tử nào chia hết cho $pColumn:2 thì thực hiện
        margin-right: 0%;
        margin-bottom: $pColumnMargin;    
    }

    &:last-child{
        margin-bottom: 0%;
    }
}