section.section-breadcrumb{
    background-color: $breadcrump-color-background;
    padding: 2% 0;
    h3.title{
        @include setFont(24px, $breadcrump-color-text, bold);
        text-transform: uppercase;
    }
    ol.breadcrumb{
        li{
            a{
                @include setFont(14px, $breadcrump-color-text);

                &:hover{
                    color: #F15F43;
                }
            }
            &.active{
                a{
                    color: #888888;
                }
            }
        }
        
    }
}